{% extends 'base.html' %}

{% block content %}

<!-- Faq Sec -->
<section id="faq_sec" class="bg-smoke-light-5 hk-landing-sec pb-25">
    <div class="container">
        <h2 class="mb-10">FAQ</h2>
        <div class="mt-50">
            <div class="row">
                <div class="col-sm-6 mb-55">
                    <h5 class="mb-15">What is this website?</h5>
                    <p>A home for crop growth models and an interactive resource for modern crop physiological process modeling. </p>
                </div>
                <div class="col-sm-6 mb-55">
                    <h5 class="mb-15">Who is this for?</h5>
                    <p>Anyone with an interest in predicting crop growth and yield outcomes on the High Plains of Texas.</p>
                </div>
                <div class="col-sm-6 mb-55">
                    <h5 class="mb-15">Why?</h5>
                    <p>I needed a portfolio site. This is what I'm into and always aiming to learn more.</p>
                </div>
                <div class="col-sm-6 mb-55">
                    <h5 class="mb-15">Who created this site?</h5>
                    <p>I created and currently maintain this site. The front end responsive framework is by Hencework and available on ThemeForest. The design, map driving JavaScript, eCharts plotting Javascript, Python weather API backend, and on-the-fly modeling implementations are my own. All under Django framework.</p>
                </div>
                <div class="col-sm-6 mb-55">
                    <h5 class="mb-15">Are you finished?</h5>
                    <p>Not yet, much to do as you can see.</p>
                </div>
		        <div class="col-sm-6 mb-55">
                    <h5 class="mb-15">When did you start this site?</h5>
                    <p>January 24th, 2019</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Faq Sec -->

{% endblock %}
