{% extends 'base.html' %}

{% block content %}
<!-- Row -->
<div class="row">
    <div class="col-xl-12">
        <section id="preview_sec" class="bg-smoke-light-5 hk-landing-sec">
            <div class="container position-relative pt-50">
                <div class="text-center mb-60">
                    <h1 class="font-48">Hello. My name is Will.</h1>
		    <h4 class="mt-15 mb-15">I am a crop physiologist who enjoys computer science. If you have any questions or would like to reach out please contact me at the email below.</h4>
                </div>
		<div class="text-center mb-60 mt-200">
		    <h5 class="mt-15 mb-15">will@iamdodge.us</h5>
		</div>
           </div>
        </section>
        <!-- /Preview Sec -->
    </div>
</div>
<!-- /Row -->
{% endblock %}
