{% extends 'base.html' %}

{% block content %}
<!-- Row -->
<div class="row">
    <div class="col-xl-12">
        <section id="preview_sec" class="bg-smoke-light-5 hk-landing-sec">
            <div class="container position-relative pt-50">
                <div class="text-center mb-60">
                    <div class="hk-row">
                        <div class="col-lg-12">
                            <div class="card pa-30 text-dark">
                                <p class="mt-15 mb-15">Hello. My name is Will. I'm a crop physiologist who enjoys
                                    computer science. This site is place to monitor local agronomic parameters for the
                                    High Plains region of Texas. Values for temperature, rainfall, evapotranspiration,
                                    and heat unit accumulation are currently available. Select a site to view
                                    local data.
				</p>    
                            </div>
                        </div>
                    </div>
                    <div class="hk-row">
                        <div class="col-lg-12">
                            <div class="card pa-30">
				    <p class="mt-15 mb-15">This site is completely experimental and is currently acting as proof 
				    of concept and domian placeholder.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- /Preview Sec -->
    </div>
</div>
<!-- /Row -->
{% endblock %}
