{% extends 'base.html' %}

{% block content %}

{{ locs_ls|json_script:"locations_ls" }}
{{ obs_set|json_script:"observation_set" }}

<!-- Preloader -->
<div class="preloader-it">
    <div class="loader-pendulums"></div>
</div>
<!-- /Preloader -->

<!-- Row -->
<div class="row">
    <div class="col-xl-12">
        <section id="preview_sec" class="bg-smoke-light-5 hk-landing-sec">
            <div class="container">
                <div class="text-center mb-5 mt-10">
                <!-- <h1 class="font-48">Locations Index</h1> -->
                <h4 class="mt-15">Select a location to view crop data and modeled growth.</h4>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div id="map_canvas" class="gmap col-lg-10"></div>
                        <div class="col-lg-1"></div>
                    </div>
                </div>
                <form action="{% url 'locations:index' %}">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8 center">
                            <select class="form-control custom-select form-control custom-select-lg mt-15" name="location">
                                <option selected>Select a city</option>
                                {% for d in locs_ls %}
                                <option value="{{ d.name }}">{{ d.name }}</option>
                                {% endfor %}
                            </select>
                            <input class="btn btn-outline-primary btn-rounded btn-block mt-20" type="submit">
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </form>
           </div>
        </section>
        <!-- /Preview Sec -->
    </div>
</div>
<!-- /Row -->


{% endblock %}
