{% extends 'base.html' %}
{% block content %}

{{ datetimehist|json_script:"datetimehist" }}
{{ etohist|json_script:"etohist" }}
{{ accum_etohist|json_script:"accum_etohist" }}
{{ temphist|json_script:"temphist" }}
{{ windhist|json_script:"windhist" }}
{{ presshist|json_script:"presshist" }}
{{ rains_1hhist|json_script:"rains_1hhist" }}
{{ gdushist|json_script:"gdushist" }}
{{ selectstartdate|json_script:"selectstartdate" }}
{{ selectenddate|json_script:"selectenddate" }}
{{ accum_gduhist|json_script:"accum_gduhist" }}

<!-- Main Content -->
<div class="bg-smoke-light-5 hk-pg-wrapper">
    <!-- Container -->
    <div class="container mt-xl-70 mt-sm-30">
        <!-- Location name card -->
        <div class="card-group container-fluid flex-row flex-wrap">
            <div class="col-lg-12">
                <div class="card card-sm">
                    <div class="card-body">
                        <span class="d-block font-12 font-weight-500 text-dark text-uppercase mb-5">Data from:</span>
                        <div class="d-flex align-items-center justify-content-between position-relative">
                            <div>
                                <span class="d-block display-5 font-weight-400 text-dark">{{ current_location }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End of location card -->

        <!-- Data card group -->
        <div class="card-group container-fluid flex-row flex-wrap">
            <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                <div class="card card-sm data-card">
                    <div class="d-flex align-items-center justify-content-between position-relative">
                        <div>
                            <span class="d-block font-12 font-weight-500 text-dark text-uppercase mb-1">Temperature</span>
                            <span class="d-block display-7 font-weight-600 text-dark">{{ current_temp }}<span class="font-11">&#176;F</span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                <div class="card card-sm data-card">
                    <div class="d-flex align-items-center justify-content-between position-relative">
                        <div>
                            <span class="d-block font-12 font-weight-500 text-dark text-uppercase mb-1">Wind Speed</span>
                            <span class="d-block display-7 font-weight-600 text-dark">{{ current_wind_speed }}<span class="font-11"> mph</span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                <div class="card card-sm data-card">
                    <div class="d-flex align-items-center justify-content-between position-relative position-relative">
                        <div>
                            <span class="d-block font-12 font-weight-500 text-dark text-uppercase mb-1">Humidity</span>
                            <span class="d-block display-7 font-weight-600 text-dark">{{ current_humidity }}<span class="font-11"> %</span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                <div class="card card-sm data-card">
                    <div class="d-flex align-items-center justify-content-between position-relative position-relative">
                        <div>
                            <span class="d-block font-12 font-weight-500 text-dark text-uppercase mb-1">Pressure</span>
                            <span class="d-block display-7 font-weight-600 text-dark">{{ current_pressure }}<span class="font-11"> hPa</span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                <div class="card card-sm data-card">
                    <div class="d-flex align-items-center justify-content-between position-relative">
                        <div>
                            <span class="d-block font-12 font-weight-500 text-dark text-uppercase mb-1">ETo</span>
                            <span class="d-block display-7 font-weight-600 text-dark">{{ current_eto }}<span class="font-11"> mm</span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                <div class="card card-sm data-card">
                    <div class="d-flex align-items-center justify-content-between position-relative">
                        <div>
                            <span class="d-block font-12 font-weight-500 text-dark text-uppercase mb-1">ET Rad</span>
                            <span class="d-block display-7 font-weight-600 text-dark">{{ current_et_solar_rad }}<span class="font-11"> MJ &#8226; m<sup>-2</sup></span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                <div class="card card-sm data-card">
                    <div class="d-flex align-items-center justify-content-between position-relative position-relative">
                        <div>
                            <span class="d-block font-12 font-weight-500 text-dark text-uppercase mb-1">Ing Sol Rad</span>
                            <span class="d-block display-7 font-weight-600 text-dark">{{ current_solar_rad }}<span class="font-11"> MJ &#8226; m<sup>-2</sup></span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                <div class="card card-sm data-card">
                    <div class="d-flex align-items-center justify-content-between position-relative">
                        <div>
                            <span class="d-block font-12 font-weight-500 text-dark text-uppercase mb-1">Clr Sky Rad</span>
                            <span class="d-block display-7 font-weight-600 text-dark">{{ current_clear_sky_rad }}<span class="font-11">> MJ &#8226; m<sup>-2</sup></span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                <div class="card card-sm data-card">
                    <div class="d-flex align-items-center justify-content-between position-relative">
                        <div>
                            <span class="d-block font-12 font-weight-500 text-dark text-uppercase mb-1">Short Wv Rad</span>
                            <span class="d-block display-7 font-weight-600 text-dark">{{ current_shortwave_rad }}<span class="font-11"> MJ &#8226; m<sup>-2</sup></span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                <div class="card card-sm data-card">
                    <div class="d-flex align-items-center justify-content-between position-relative">
                        <div>
                            <span class="d-block font-12 font-weight-500 text-dark text-uppercase mb-1">Sat Vap Pres</span>
                            <span class="d-block display-7 font-weight-600 text-dark">{{ current_sat_vap_pressure }}<span class="font-11"> kPa</span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                <div class="card card-sm data-card">
                    <div class="d-flex align-items-center justify-content-between position-relative">
                        <div>
                            <span class="d-block font-12 font-weight-500 text-dark text-uppercase mb-1">Slope SVP Crv</span>
                            <span class="d-block display-7 font-weight-600 text-dark">{{ current_slope_sat_vap_pressure }}<span class="font-11"> kPa &#8226; &#176;C<sup>-1</sup></span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                <div class="card card-sm data-card">
                    <div class="d-flex align-items-center justify-content-between position-relative">
                        <div>
                            <span class="d-block font-12 font-weight-500 text-dark text-uppercase mb-1">Act Vap Pres</span>
                            <span class="d-block display-7 font-weight-600 text-dark">{{ current_actual_vapor_pressure }}<span class="font-11"> kPa</span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                <div class="card card-sm data-card">
                    <div class="d-flex align-items-center justify-content-between position-relative">
                        <div>
                            <span class="d-block font-12 font-weight-500 text-dark text-uppercase mb-1">Psych Const</span>
                            <span class="d-block display-7 font-weight-600 text-dark">{{ psychrometric_constant }}<span class="font-11"> kPa &#8226; &#176;C<sup>-1</sup></span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                <div class="card card-sm data-card">
                    <div class="d-flex align-items-center justify-content-between position-relative">
                        <div>
                            <span class="d-block font-12 font-weight-500 text-dark text-uppercase mb-1">Net Lng Wv Rad</span>
                            <span class="d-block display-7 font-weight-600 text-dark">{{ net_longwave_radiation }}<span class="font-11"> MJ &#8226; m<sup>-2</sup></span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                <div class="card card-sm data-card">
                    <div class="d-flex align-items-center justify-content-between position-relative">
                        <div>
                            <span class="d-block font-12 font-weight-500 text-dark text-uppercase mb-1">Soil Heat</span>
                            <span class="d-block display-7 font-weight-600 text-dark">{{ soil_heat_flux }}<span class="font-11"> MJ &#8226; m<sup>-2</sup></span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                <div class="card card-sm data-card">
                    <div class="d-flex align-items-center justify-content-between position-relative">
                        <div>
                            <span class="d-block font-12 font-weight-500 text-dark text-uppercase mb-1">Accum. GDU</span>
                            <span class="d-block display-7 font-weight-600 text-dark">{{ current_gdu_sum }}<span class="font-11"> &#176;C</span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                <div class="card card-sm data-card">
                    <div class="d-flex align-items-center justify-content-between position-relative">
                        <div>
                            <span class="d-block font-12 font-weight-500 text-dark text-uppercase mb-1">Accum. ETO</span>
                            <span class="d-block display-7 font-weight-600 text-dark">{{ current_eto_sum }}<span class="font-11"> mm</span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                <div class="card card-sm data-card">
                    <div class="d-flex align-items-center justify-content-between position-relative">
                        <div>
                            <span class="d-block font-12 font-weight-500 text-dark text-uppercase mb-1">Period</span>
                            <span class="d-block display-7 font-weight-600 text-dark">{{ current_period_begin }}-{{ current_period_end }}<span class="font-11">  hrs</span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                <div class="card card-sm data-card">
                    <div class="d-flex align-items-center justify-content-between position-relative">
                        <div>
                            <span class="d-block font-12 font-weight-500 text-dark text-uppercase mb-1">Period</span>
                            <span class="d-block display-7 font-weight-600 text-dark">{{ current_period_begin }}-{{ current_period_end }}<span class="font-11">  hrs</span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                <div class="card card-sm data-card">
                    <div class="d-flex align-items-center justify-content-between position-relative">
                        <div>
                            <span class="d-block font-12 font-weight-500 text-dark text-uppercase mb-1">Period</span>
                            <span class="d-block display-7 font-weight-600 text-dark">{{ current_period_begin }}-{{ current_period_end }}<span class="font-11">  hrs</span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                <div class="card card-sm data-card">
                    <div class="d-flex align-items-center justify-content-between position-relative">
                        <div>
                            <span class="d-block font-12 font-weight-500 text-dark text-uppercase mb-1">Period</span>
                            <span class="d-block display-7 font-weight-600 text-dark">{{ current_period_begin }}-{{ current_period_end }}<span class="font-11">  hrs</span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                <div class="card card-sm data-card">
                    <div class="d-flex align-items-center justify-content-between position-relative">
                        <div>
                            <span class="d-block font-12 font-weight-500 text-dark text-uppercase mb-1">Period</span>
                            <span class="d-block display-7 font-weight-600 text-dark">{{ current_period_begin }}-{{ current_period_end }}<span class="font-11">  hrs</span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                <div class="card card-sm data-card">
                    <div class="d-flex align-items-center justify-content-between position-relative">
                        <div>
                            <span class="d-block font-12 font-weight-500 text-dark text-uppercase mb-1">Water Deficit</span>
                            <span class="d-block display-7 font-weight-600 text-dark">{{ current_water_deficit }}<span class="font-sm-16 ml-5">mm</span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-6">
                <div class="card card-sm data-card">
                    <div class="d-flex align-items-center justify-content-between position-relative">
                        <div>
                            <span class="d-block font-12 font-weight-500 text-dark text-uppercase mb-1">Accum Rain</span>
                            <span class="d-block display-7 font-weight-600 text-dark">{{ current_rain_sum }}<span class="font-sm-16 ml-5">mm</span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End data card group -->

        <!-- Date range & GDU parameter selection card -->
        <form action="{% url 'locations:index' %}">
            <div class="card-group container-fluid flex-row flex-wrap">
            <!-- Date range -->
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <!-- GDU Parameters -->
                    <div class="card card-lg">
                        <div class="card-header">
                            <h6>Select Desired Date Range</h6>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <h6 class="mt-10 mb-10">Data Start Date</h6>
                                    <input class="form-control" type="text" name="selectstartdate" readonly="true"/>
                                    <h6 class="mt-10 mb-10">Data End Date</h6>
                                    <input class="form-control mb-10" type="text" name="selectenddate" readonly="'true"/>
                                </div>
                            </div>
                        </div>
                    </div><!--- End date range -->
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="card card-lg">
                        <div class="card-header">
                            <h6>Select GDU Paramters</h6>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <h6 class="mt-10 mb-10">GDU Base</h6>
                                    {% if gdu_base %}
                                    <input class="form-control float" type="number" value={{ gdu_base }} name="gdu_base" data-decimals="2" min="0" max="50" step="0.1" />
                                    {% else %}
                                    <input class="form-control float" type="number" value="15.6" name="gdu_base" data-decimals="2" min="0" max="50" step="0.1" />
                                    {% endif %}
                                </div>
                            </div>
                                <h6 class="mt-10 mb-10">GDU Max</h6>
                            <div class="row mb-10">
                                <div class="col-lg-12">
                                    {% if gdu_max %}
                                    <input class="form-control float" type="number" value={{ gdu_max }} name="gdu_max" data-decimals="2" min="0" max="50" step="0.1" />
                                    {% else %}
                                    <input class="form-control float" type="number" value="38.0" name="gdu_max" data-decimals="2" min="0" max="50" step="0.1" />
                                    {%  endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End of GDU parameters -->
                <!-- Submit button -->
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-15 mt-15">
                    <input type="hidden" value="{{ current_location }}" name="location">
                    <input class="btn-outline-smoke btn-lg btn-block" type="submit">
                </div><!-- End submit button -->
            </div>
        </form>

        <div class="card-group container-fluid flex-row flex-wrap">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card card-refresh">
                    {% if selectstartdate and selectenddate %}
                        <div class="card-header card-header-action">
                            <h6>Accumulated GDU for: {{ selectstartdate }} - {{ selectenddate }}</h6>
                        </div>
                    {%  else %}
                        <div class="card-header card-header-action">
                            <h6>Accumulated GDU - 10 Day History</h6>
                        </div>
                    {%  endif %}
                    <div class="card-body plot-card">
                        <div id="area_chart_accum_gdu" class="echart" style="height: 294px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card card-refresh">
                    {% if selectstartdate and selectenddate %}
                        <div class="card-header card-header-action">
                            <h6>30 Minute GDU for: {{ selectstartdate }} - {{ selectenddate }}</h6>
                        </div>
                    {%  else %}
                        <div class="card-header card-header-action">
                            <h6>30 Minute GDU - 10 Day History</h6>
                        </div>
                    {%  endif %}
                    <div class="card-body plot-card">
                        <div id="area_chart_gdu" class="echart" style="height: 294px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card card-refresh">
                    {% if selectstartdate and selectenddate %}
                        <div class="card-header card-header-action">
                            <h6>Accumulated ETo for: {{ selectstartdate }} - {{ selectenddate }}</h6>
                        </div>
                    {%  else %}
                        <div class="card-header card-header-action">
                            <h6>Accumulated ETo - 10 Day History</h6>
                        </div>
                    {%  endif %}
                    <div class="card-body plot-card">
                        <div id="area_chart_accum_eto" class="echart" style="height: 294px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card card-refresh">
                    {% if selectstartdate and selectenddate %}
                        <div class="card-header card-header-action">
                            <h6>30 Minute ETo for: {{ selectstartdate }} - {{ selectenddate }}</h6>
                        </div>
                    {%  else %}
                        <div class="card-header card-header-action">
                            <h6>30 Minute ETo - 10 Day History</h6>
                        </div>
                    {%  endif %}
                    <div class="card-body plot-card">
                        <div id="area_chart_eto" class="echart" style="height: 294px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card card-refresh">
                    {% if selectstartdate and selectenddate %}
                        <div class="card-header card-header-action">
                            <h6>Daily Rain for: {{ selectstartdate }} - {{ selectenddate }}</h6>
                        </div>
                    {%  else %}
                        <div class="card-header card-header-action">
                            <h6>Daily Rain - 10 Day History</h6>
                        </div>
                    {%  endif %}
                    <div class="card-body plot-card">
                        <div id="area_chart_rain_1h" class="echart" style="height: 294px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card card-refresh">
                    <div class="card-header card-header-action">
                        <h6>Temperature - 10 Day History</h6>
                    </div>
                    <div class="card-body plot-card">
                        <div id="area_chart" class="echart" style="height: 294px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card card-refresh">
                    <div class="card-header card-header-action">
                        <h6>Wind Speed - 10 Day History</h6>
                    </div>
                    <div class="card-body plot-card">
                        <div id="area_chart_2" class="echart" style="height: 294px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card card-refresh">
                    <div class="card-header card-header-action">
                        <h6>Pressure - 10 Day History</h6>
                    </div>
                    <div class="card-body plot-card">
                        <div id="area_chart_3" class="echart" style="height: 294px;"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Row -->
    </div>
    <!-- /Container -->
</div>
{% endblock %}
